@import "./normalize.css";

.el-message--success {
	background-color: #95e1ff !important;
}
 
.el-message--success .el-message__content {
  font-size: 18px;
	font-weight: 700;
	color: #fff !important;
}
.el-message--success .el-message__icon {
	color: #fff !important;
}

.el-breadcrumb {
	margin-top: 20px;
	margin-bottom: 30px;
}